.floatingLabel {
    position: absolute;
    top:0;
    left:8px;
    font-size:8px;
    color:#585A5C;
    pointer-events:none;
    transform:translateY(-50%);
    background-color: white;
    padding: 0 2px;
    transition:all 0.2s ease;
}



.selectWrapper {
    position: relative;
    /*min-width: 200px*/
}

.styledSelect  {
    color: black;
    border: 1px solid var(--primary-main);
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
}

.styledSelect:focus {
    border: 1px solid var(--primary-main);
    outline: none;

}

