.select_wrapper {
    position: relative;
    font-family: Roboto, sans-serif;
}

.styled_select  {
    color: black;
    border: 1px solid var(--base-gray);
    border-radius: 5px;
    padding: 20px 10px 20px;
    min-width: 150px;
}

.styled_select:focus {
    border: 1px solid var(--primary-main);
    outline: none;
}
.floating_label {
    position: absolute;
    top:50%;
    left:12px;
    font-size:12px;
    color:#585A5C;
    transform:translateY(-50%);
    background-color: white;
    padding: 0 2px;
    pointer-events:none;
    transition:all 0.2s ease;
}
.labelActive {
    top: -8px;
    transform: none;
    color: var(--primary-main);
}

